/******************************************************
* #### jQuery-Youtube-Channels-Playlist v04 ####
* Coded by Ican Bachors 2014.
* http://ibacor.com/labs/jquery-youtube-channels-playlist/
* Updates will be posted to this site.
******************************************************/

.ycp {
	font-family: sans-serif;
	font-size: 1em;
	color: #444;
	background: #000;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.ycp span.tombol {
	margin-right: 20px;
}

.ycp span.about {
	float: right;
	background: #111111;
	padding: 2px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
}

.ycp a {
	text-decoration: none;
}

.ycp a img {
	border: 0;
}

.ycp .unit {
	box-sizing: border-box;
}

.ycp .katuhu {
	width: 35%;
}

.ycp .kenca {
	width: 65%;
}

.ycp .kenca img {
	width: 100%;
	height: 100%;
}

.ycp .thumb {
	float: left;
	margin-right: 10px;
	position: relative;
	height: 61px;
	background: #4a4a4a;
}

.ycp .thumb span {
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 2px;
	background: #000;
	color: #cacaca;
	font-size: 0.8em;
}

.ycp .play {
	margin: 0;
	padding: 10px;
	display: block;
	overflow: hidden;
	*overflow: visible;
}

.ycp .vid-top {
	color: #fff;
	background: #1a1a1a;
	border-bottom: 1px solid #111;
	padding: 20px;
	display: block;
	overflow: hidden;
	*overflow: visible;
}

.ycp .vid-bottom {
	color: #cacaca;
	background: #222;
	display: block;
	overflow-y: scroll;
	height: 435px;
}

.ycp div.title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ycp span.mute, .ycp span.about a {
	color: #767676;
	font-size: 0.8em;
}

.ycp .thumb img {
	width: 80px;
	height: 100%;
}

.ycp .play:hover {
	background: #4a4a4a;
}

.ycp .vid-active {
	background: #3a3a3a;
}

.ycp .vid-prev, .ycp .vid-next, .ycp .play {
	cursor: pointer;
}

.ycp .vid-iframe {
	width: 100%;
	height: 500px;
	border: 0;
}

@media screen and (max-width:767px) {
	.ycp .katuhu {
		width: 100%;
	}

	.ycp .kenca {
		width: 100%;
	}

	.ycp .vid-iframe {
		height: 350px;
	}

	.ycp .vid-bottom {
		height: 285px;
	};
}
