/* Custom your style */

html, body {
	padding: 0;
	margin: 0;
}

body {
	background: #ebebeb;
	font-family: Arial,sans-serif;
	font-size: 16px;
	color: #444;
	position: relative;
	-webkit-text-size-adjust: none;
}

body * {
	text-shadow: none;
}

#ibacordotcom-content {
	margin: 0 100px;
	background: #000
}

#ibacordotcom-content span.tombol {
	margin-right: 20px
}

#ibacordotcom-content a  {
	text-decoration: none;
}

#ibacordotcom-content a img {
	border: 0;
}

.ibacordotcom-unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	overflow: hidden;
	*overflow: visible;
}

.ibacordotcom-vid-katuhu {
	width:33.45%;
	float:right;
}

.ibacordotcom-vid-kenca {
	width:66.50%;
}

.ibacordotcom_youtube_thumb{float:left;margin-right:10px;}

.ibacordotcom_youtube_thumb {
    position: relative;
}

.ibacordotcom_youtube_thumb span {
    position: absolute;
    right: 1px;
    bottom: 10px;
	padding:0 5px 0 5px;
	background: #000;
}

.ibacordotcom-play {
	margin:0;
	padding:10px;
	display:block;
	overflow:hidden;
	*overflow:visible;
}

div.ibacordotcom-vid-top {
	color: #c0c0c0;
	background:#000;
	padding:20px;
	display:block;
	overflow:hidden;
	*overflow:visible;
}

div.ibacordotcom-vid-bottom {
	color: #c0c0c0;
	background:#111;
	display:block;
	overflow-y: scroll;
	height:435px
}

.ibacordotcom_youtube_thumb img {
	width: 100px;
}

div.ibacordotcom-play:hover {
	background:#333;
}

.ibacordotcom-vid-active {
	background:#222;
}

.ibacordotcom-vid-active img{
	border :2px solid #e42b28;
}

.ibacordotcom_vid_prev,.ibacordotcom_vid_next,.ibacordotcom-play{
	cursor:pointer
}

iframe.ibacordotcom-vid-iframe {
	width: 100%;
	height: 500px;
	border:0
}
@media only screen and (min-width: 960px) and (max-width: 1045px) {
	#ibacordotcom-content {margin:50px}
	.ibacordotcom-vid-katuhu {width:35%}
	.ibacordotcom-vid-kenca {width:65%}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	body {font-size: 14px;line-height: 24px}
	#ibacordotcom-content {margin:10px}
	.ibacordotcom-vid-katuhu {width:35%}
	.ibacordotcom-vid-kenca {width:65%}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {font-size: 14px;line-height: 24px}
	#ibacordotcom-content {margin:5px}
	.ibacordotcom-vid-katuhu {width:100%}
	.ibacordotcom-vid-kenca {width:100%;margin-bottom:20px}
	iframe.ibacordotcom-vid-iframe {height: 450px;}
	div.ibacordotcom-vid-bottom{height: 385px}
}

@media screen and (max-width:479px){
	body {font-size: 12px;line-height: 22px}
	#ibacordotcom-content {margin:0}
	.ibacordotcom-vid-katuhu{margin:0}
	.ibacordotcom-vid-kenca {margin:0 0 20px 0}
	.ibacordotcom-unit{width:auto;margin-left:0;display:block;margin-top:0}
	iframe.ibacordotcom-vid-iframe {height: 350px;}
	div.ibacordotcom-vid-bottom{height: 285px}
}
